name: TN

on:
  watch:
    types: [started]

  schedule:
    - cron: "0 7 * * *"
  workflow_dispatch:

env:
  TARGET_NAME: textnow-bot
  TARGET_VERSION: 1.0.0

jobs:
  schedule:
    name: Send text message
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
        playwright install
    - name: Send weekend text message
      env:
        TEXTNOW_USERNAME: ${{ secrets.TEXTNOW_USERNAME }}
        TEXTNOW_PASSWORD: ${{ secrets.TEXTNOW_PASSWORD }}
        TEXTNOW_RECIPIENT: ${{ secrets.TEXTNOW_RECIPIENT }}
        TEXTNOW_MESSAGE: ${{ secrets.TEXTNOW_MESSAGE }}
      run: python scripts/textnow.py